
<% if !comment.archived? %>
<div>
  <p>
    <strong><%= comment.author %></strong>
    -
    <small><%= comment.created_at %></small>
  </p>
  <blockquote>
    <p>
      <%= comment.body %>
    </p>
  </blockquote>


  <p>
    <%= link_to "Supprimer", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </p>
</div>
<% end %>